[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = http://github.com/tpope/vim-sensible.git
[submodule "bundle/dracula"]
	path = bundle/dracula
	url = http://github.com/dracula/vim.git

[submodule "bundle/bash-git-prompt"]
    path = bundle/bash-git-prompt
    url = https://github.com/magicmonty/bash-git-prompt.git
